div.section1 {
	background-color: red;
	font: 30pt Lobster;
	text-align: center;
}

a{
	color: blue;
	text-decoration: none;
}

div, a{
	border-radius: 50%;
}

img{
	width: 200px;
	position: absolute;
	top: 0px;
	left: 30px;
}

body{
	margin: 0px;
}